<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="form-simulator">
    <div>
      <div class="form">
        <h2> <%= htmlWebpackPlugin.options.myPageHeader %> </h2>
        <div class="field-input">
          <label for="valorVenda">Informe o valor da venda *</label>
          <input id="valorVenda" name="valorVenda" type="tel">
        </div>
        <div class="field-input">
          <label for="qtdParcelas">Em quantas parcelas *</label>
          <input type="number" name="qtdParcelas" id="qtdParcelas">
          <small>Máximo de 12 de parcelas</small>
        </div>
        <div class="field-input">
          <label for="pctMDR">Informe o percentual de MDR *</label>
          <input type="number" name="pctMDR" id="pctMDR">
        </div>
      </div>
      <div class="receiving">
        <h4>Você receberá:</h4>
        <ul class="list-values">
          <li>Amanhã: <strong>R$ 0,00</strong></li>
          <li>Em 15 dias: <strong>R$ 0,00</strong></li>
          <li>Em 30 dias: <strong>R$ 0,00</strong></li>
          <li>Em 90 dias: <strong>R$ 0,00</strong></li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>