// colors
$white: #ffffff;
$geyser: #d1dce3;
$dove-gray: #656565;
$ato: #cecece;
$steel-blue: #3d75bb;
$cornflower-blue: #5d9cec;
$cornflower-blue-light: #66afe9;
$mystic: #dde6e9;
$cognac: #9c3e19;
$transparent-geyser: rgba(209, 220, 227, 0.18);

//font
$font-family-default: 'Source Sans Pro', sans-serif;

// sizes
$font-size: 14px;
$line-height: 18px;

$top-spacer: 156px;
$field-spacer: 26px;
$receive-spacer: 26px;

$receive-padding: 83px 35px 0 35px;
$receive-title-font-size: 16px;
$receive-title-width: 161px;
$receive-title-padding: 5px;

$form-padding: 41px 70px 18px 56px;
$form-max-width: 608px;
$form-title-font-size: 24px;
$form-title-font-spacer: 22px;

$field-label-spacer: 6px;
$field-border-size: 1px;
$field-line-height: 18px;
$field-padding: 10px 14px 9px;
$field-max-width: 251px;
$field-font-size-warning: 11px;

// effects
$default-radius: 4px;
$field-border: $field-border-size $geyser solid;
$speed-transition: .3s;