@import './variables';
@import './components';

.form-simulator {
    margin: $top-spacer auto 0;
    width: 100%;
    max-width: $form-max-width;
    border-radius: $default-radius;
    border: $field-border;
    padding: 0;
    & > div {
        display: flex;
        width: 100%;
        & > div {
            &:first-child { 
                flex: 1;
            }
        }
    }
}
